@font-face {
    font-family: 'pfdintextcondprobold';
    src: url('fonts/pfdintextcondprobold.eot');
    src: url('fonts/pfdintextcondprobold.eot') format('embedded-opentype'),
         url('fonts/pfdintextcondprobold.woff2') format('woff2'),
         url('fonts/pfdintextcondprobold.woff') format('woff'),
         url('fonts/pfdintextcondprobold.ttf') format('truetype'),
         url('fonts/pfdintextcondprobold.svg#pfdintextcondprobold') format('svg');
}
@font-face {
    font-family: 'pfdintextcondprolight';
    src: url('fonts/pfdintextcondprolight.eot');
    src: url('fonts/pfdintextcondprolight.eot') format('embedded-opentype'),
         url('fonts/pfdintextcondprolight.woff2') format('woff2'),
         url('fonts/pfdintextcondprolight.woff') format('woff'),
         url('fonts/pfdintextcondprolight.ttf') format('truetype'),
         url('fonts/pfdintextcondprolight.svg#pfdintextcondprolight') format('svg');
}
@font-face {
    font-family: 'pfdintextcondpromedium';
    src: url('fonts/pfdintextcondpromedium.eot');
    src: url('fonts/pfdintextcondpromedium.eot') format('embedded-opentype'),
         url('fonts/pfdintextcondpromedium.woff2') format('woff2'),
         url('fonts/pfdintextcondpromedium.woff') format('woff'),
         url('fonts/pfdintextcondpromedium.ttf') format('truetype'),
         url('fonts/pfdintextcondpromedium.svg#pfdintextcondpromedium') format('svg');
}
.bold{
	font-family: "pfdintextcondprobold";
}
.light{
	font-family: "pfdintextcondprolight";
}
.med{
	font-family: "pfdintextcondpromedium";
}
.dropdown-toggle{
	border: 1px solid #000;
	padding: 10px 15px;
	margin-top: 10px;
	border-radius:5px;
	color: #666666;
	margin-left: -10px;
	&:hover{
		background-color: #666666;
		color: #fff;
	}
	i{
		margin-top: 10px;
		font-size: 18px;
	}

}

@media(min-width:0px) and (max-width:320px) {
 nav{
 	top:0;
 	height: 60px;
 	padding-top: 10px;
 	.phone_number_mob{
 		 text-align: right;
   	 h3{
   	 	padding-right: -11px;
   	 	margin-top: 8px;
   	 }    
   	a {
   		.bold;
   		font-size: 18px;
 		text-decoration: none;
  		color: #666666;
   		a:hover,
        a:focus,
        a:visited,
        a:active{
        	text-decoration: none;

   		}
     }
   	}
   }
 

  section#main{

		.main_header{
			h1{
				font-size: 20px;
				text-align: center;
				margin-bottom: 30px;
				span{
					line-height: 1.7;
					padding: 10px;
				}
			}
		}
		h3{
			font-size: 16px;
			text-align: center;
		}
		.main_buttons{
			button{
				display: block;
				margin: 0 auto;
 			}
 			button#ask{
 				padding: 10px 15px;
 				font-size: 15px;
 				margin-bottom: 10px;
 			}
 			button#info_masters{
 				padding: 10px 16px;
 				font-size: 15px;
 				margin-bottom: 10px;
 				display: block;
				margin: 0 auto;
 			}
		}

	}
  section#types{
		.card{
			padding-bottom: 10px;
		}
		button.more_btn{
			font-size: 14px;
		}
		button.consult_btn{
			font-size: 14px;

		}
	}
  
  section#help{
		  	h3{
		  		text-align: center;
		  	}
		  	p{
		  		text-align: center;
		  	}
		  	button{
		  		display: block;
		  		margin: 0 auto;
		  		margin-bottom: 10px;
		  	}
     }
     section#portfolio{
     	
     }
  section#offer{
	  	h4{
	  		text-align: center;
	  	}
	  	h3{	
	  		text-align: center;
	  	}
	  	p{
	  		text-align: center;
	  	}
	  	input{
	  		margin-top: 5px;
	  	}
	    button#call{
            
	   		padding:14px 90px;
	  		margin-top: 10px;
	  		
  	     }
    }
    section#feedback{
    	.fotorama{
    		display: none;
    	}
    	.item{
    		height: 500px;
    	    text-align: center;
    	}
    	p{
    		font-size: 15px;
    	}
    }
  footer{
    	text-align: center;
    	.spirin{
    		text-align: center;
    	}
    }
    
   .modal-dialog{
    margin-top: 10%;
	width: 90%;
   	h4{
   		text-align: center;
   		margin-left: 0;
   	}
   	p{
   		margin-top: 5px;
   		font-size: 14px;
   	}
   	button#getcon{
   		padding: 14px 48px;
   	}
   }
   .modal-dialog-consult {
    margin-top: 10%;
    margin-left: 0;
  }
   .phone_number{
   	h3{font-size: 5px;
   	}	
   }
}

 
@media(min-width:321px) and (max-width:480px) {
	
 nav{
 	top:0;
 	height: 60px;
 	padding-top: 10px;
 	.phone_number_mob{
 		 text-align: right;
   	 h3{
   	 	margin-top: 8px;
   	 }    
   	a {
   		.bold;
   		font-size: 18px;
 		text-decoration: none;
  		color: #666666;
   		a:hover,
        a:focus,
        a:visited,
        a:active{
        	text-decoration: none;

   		}
     }
   	}
  }
  section#main{
		.main_header{
			h1{
				font-size: 20px;
				text-align: center;
				margin-bottom: 30px;
				span{
					line-height: 1.7;
					padding: 10px;
				}
			}
		}
		h3{
			font-size: 16px;
			text-align: center;
		}
		.main_buttons{
			button{
				display: block;
				margin: 0 auto;
 			}
 			button#ask{
 				padding: 10px 15px;
 				font-size: 15px;
 				margin-bottom: 10px;
 			}
 			button#info_masters{
 				padding: 10px 16px;
 				font-size: 15px;
 				margin-bottom: 10px;
 				display: block;
				margin: 0 auto;
 			}
		}

	}
  section#types{
		.card{
			padding-bottom: 10px;
		}
		button.more_btn{
			font-size: 14px;
		}
		button.consult_btn{
			font-size: 14px;

		}
	}
  
  section#help{
		  	h3{
		  		text-align: center;
		  	}
		  	p{
		  		text-align: center;
		  	}
		  	button{
		  		display: block;
		  		margin: 0 auto;
		  		margin-bottom: 10px;
		  	}
     }
     section#portfolio{
     	
     }
  section#offer{
	  	h4{
	  		text-align: center;
	  	}
	  	h3{	
	  		text-align: center;
	  	}
	  	p{
	  		text-align: center;
	  	}
	  	input{
	  		margin-top: 5px;
	  	}
	    button#call{
	  		padding:14px 90px;
	  		margin-top: 10px;
	  		
  	     }
    }
    section#feedback{
    	.fotorama{
    		display: none;
    	}
    	.item{
    		height: 500px;
    	    text-align: center;
    	}
    	p{
    		font-size: 15px;
    	}
    }
  footer{
    	text-align: center;
    	.spirin{
    		text-align: center;
    	}
    }
    
   .modal-dialog{
    margin-top: 10%;
	width: 90%;
   	h4{
   		text-align: center;
   		margin-left: 0;
   	}
   	p{
   		margin-top: 5px;
   		font-size: 14px;
   	}
   	button#getcon{
   		padding: 14px 48px;
   	}
   }
   .modal-dialog-consult {
    margin-top: 10%;
    margin-left: 0;
  }
}
@media(min-width:481px) and (max-width:768px) {
	
}

@media(min-width:769px) and (max-width:992px) {
	
}

@media(min-width:993px) and (max-width:1200px) {
	
}
